/* Root styles */
#rentHistoryAnchorPane {
    -fx-background-color: #fcf5d9; /* Background color for the entire application */
    -fx-font-size: 12px; /* Default font size for the entire application */
}

/* Button styles */
.button {
    -fx-background-color: #825530; /* Background color of buttons */
    -fx-text-fill: white; /* Text color of buttons */
}

.button:hover {
    -fx-background-color: #663e1d; /* Background color of buttons on hover */
}

/* Label styles */
.label {
    -fx-font-weight: bold; /* Bold text for labels */
    -fx-font-size: 12px;
}
/* Style the ListView itself */
.list-view {
    -fx-background-color: #fcf5d9;
    -fx-background-radius: 20;
}

/* Style the ListView items */
.list-cell {
    -fx-background-color: #fcf5d9;
    -fx-text-fill: black;
}

/* Style the selected item */
.list-cell:selected {
    -fx-background-color: #fcf5d9;
    -fx-text-fill: white;
}

/* Style the scrollbar */
.scroll-bar {
    -fx-background-color: white;
}
